In [7]:
import pandas as pd
import numpy as np
import requests
import json
import prettytable

In [23]:
file = 'area_codes.txt'
f = open(file, 'r')

id_tag = {}

for line in f:
    l = line.split('\t')
    # if the first tag contains a number, assign area code to region in dict
    if any(map(str.isdigit, l[0])):
        id_tag[l[1]] = l[0]

In [46]:
selected = lambda x: ['CUUR'+ id_tag[x] + 'SA0']

n = 2

area_keys = list(id_tag.keys())
selected_area = selected(area_keys[n])

In [81]:
area_code = [selected_area[0] for i in df.index.tolist()]

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": selected_area,"startyear":"2020", "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

data = json_data['Results']['series'][0]['data']

df = pd.DataFrame.from_dict(data).drop(['periodName','footnotes'],axis=1)
df['id'] = area_code

df

    year period    value           id
0   2022    M12  117.821  CUUR0110SA0
1   2022    M11  118.370  CUUR0110SA0
2   2022    M10  117.924  CUUR0110SA0
3   2022    M09  117.290  CUUR0110SA0
4   2022    M08  117.169  CUUR0110SA0
5   2022    M07  116.960  CUUR0110SA0
6   2022    M06  117.342  CUUR0110SA0
7   2022    M05  116.416  CUUR0110SA0
8   2022    M04  115.115  CUUR0110SA0
9   2022    M03  114.952  CUUR0110SA0
10  2022    M02  113.324  CUUR0110SA0
11  2022    M01  112.623  CUUR0110SA0
12  2021    M12  111.635  CUUR0110SA0
13  2021    M11  111.212  CUUR0110SA0
14  2021    M10  110.209  CUUR0110SA0
15  2021    M09  109.213  CUUR0110SA0
16  2021    M08  109.194  CUUR0110SA0
17  2021    M07  108.996  CUUR0110SA0
18  2021    M06  108.737  CUUR0110SA0
19  2021    M05  107.843  CUUR0110SA0
20  2021    M04  107.566  CUUR0110SA0
21  2021    M03  106.992  CUUR0110SA0
22  2021    M02  105.962  CUUR0110SA0
23  2021    M01  105.658  CUUR0110SA0
24  2020    M12  105.101  CUUR0110SA0
25  2020    M11  104.815  CUUR0110SA0
26  2020    M10  104.336  CUUR0110SA0
27  2020    M09  104.923  CUUR0110SA0
28  2020    M08  104.864  CUUR0110SA0
29  2020    M07  104.651  CUUR0110SA0
30  2020    M06  104.596  CUUR0110SA0
31  2020    M05  104.113  CUUR0110SA0
32  2020    M04  104.728  CUUR0110SA0
33  2020    M03  105.054  CUUR0110SA0
34  2020    M02  105.221  CUUR0110SA0
35  2020    M01  105.014  CUUR0110SA0

In [43]:
# adapted from BLS API sample code

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": selected_area,"startyear":"2020", "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()